.icons {
  display: flex;
  gap: 50px;
  align-self: flex-end;
}

@media screen and (max-width: 992px) {
  .icons {
    gap: 39px;
    order: 2;
    align-self: flex-start;
  }
}

@media screen and (max-width: 576px) {
  .icons {
    gap: 69px;
    align-self: center;
  }
}
