.icons__item {
  width: 25px;
  transition: all 0.2s linear;
}

.icons__item:hover {
  transform: scale(1.5, 1.5);
}

@media screen and (max-width: 992px) {
  .icons__item {
    width: 19px;
  }
}

@media screen and (max-width: 576px) {
  .icons__item {
    width: 32px;
  }
}
