.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgba(8, 8, 12, 0.95);
  color: #faf8f7;
  position: fixed;
  top: 0;
  transition: background-color 0.2s linear;
  z-index: 10;
}
