.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #08080C;
  color: #faf8f7;
  opacity: 0.95;
  position: fixed;
  top: 0;
  transition: background-color 0.2s linear;
}
