.line_size_l {
  width: 133px;
  background-color: #515151;
  position: relative;
  margin-bottom: 50px;
}

.line_size_l span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 85px;
  background-color: #1EE1B3;
  border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .line_size_l {
    width: 96px;
    margin-bottom: 40px;
  }

  .line_size_l span {
    width: 61px;
  }
}
