.partners {
  display: flex;
  align-items: center;
  margin: 0 auto 100px;
  width: 960px;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .partners {
    width: 635px;
  }
}
@media screen and (max-width: 992px) {
  .partners {
    width: 100%;
  }
}
