.btn-link {
  padding: 18px 40px;
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #08080C;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  transition:all 0.3s linear;
}

.btn-link:hover {
  background-color: #1EE1B3;
}
