.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

@media screen and (max-width: 992px) {
  .advantages {
    gap: 30px;
  }
}

@media screen and (max-width: 720px) {
  .advantages {
    gap: 50px;
  }
}
