.about {
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0 110px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 1540px;
  margin: 0 auto;
  color: #faf8f7;
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 80px 52px 110px ;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding: 25px 38px 52px ;
  }
}
