.sign-up-btn {
  padding: 14px 22.5px;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: 'Metropolis', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #08080C;
  background-color: #1EE1B3;
  transition: all 0.3s linear;
}

.sign-up-btn:hover {
  color: #fff;
  background-color:#1EB2E1;
}

